




<div class="teachLog" style="margin-top: 100px; display: flex; justify-content: center; align-items: center; flex-direction: column;">
  <h3 style="font-family: 'Playfair Display';font-size: 42px; color: gray; text-align: center; margin-bottom: 20px;" >Teacher Login</h3>
  <form method="POST" class="teachForm"  style="border: 3px solid green;   box-shadow: 8px 8px 5px #beb4b4;">
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password : </label>
      <input type="password" name="password"  class="form-control" id="pass">
      <br>
      <input type="checkbox" style="width: 30px;" onclick="myFunction()">Show Password
      <br>
    </div>
    <a><button type="submit" class="btn btn-primary">Submit</button></a>
  </form>
<a href="/" class="btn btn-info" style="background-color: rgb(255 5 214); margin-top: 24px;">Back TO Home</a>

</div>

<script>
  function myFunction() {
  var x = document.getElementById("pass");
  if (x.type === "password") {
    x.type = "text";
  } else {
    x.type = "password";
  }
}
</script>