<script src="https://cdn.tailwindcss.com"></script>




<h1 style="font-family: 'Playfair Display';font-size: 42px; color: gray; text-align: center;">To view The result first Add The Result in  <br>Teacher Login Section</h1>

<!-- <h3>Student Login</h3> -->
<div class="teachLog"  style="margin-top: 100px; display: flex; justify-content: center; align-items: center; flex-direction: column;">
  <form method="POST" class="teachForm" style="border: 3px solid green;   box-shadow: 8px 8px 5px #beb4b4;">
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Roll no : </label>
        <input type="number" name="roll" class="form-control" id="exampleInputPassword1">
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Date of Birth : </label>
        <input type="date" name="dob" class="form-control" id="exampleInputPassword1">
      </div>
      <a><button type="submit" class="btn btn-primary" style="background-color: rgb(255 5 214);">Submit</button></a>

  </form>
  <a href="/"  style="margin-top: 60px;"><button type="submit" class="btn btn-primary"  style="background-color: rgb(255 5 214);">Go To Home</button></a>

</div>


